@tailwind base;

*,
*::before,
*::after {
  min-width: 0;
  min-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  object-position: center center;
}

*:focus,
*:-moz-focusring {
  outline: 0;
}

html,
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  min-height: -webkit-fill-available;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind components;
@tailwind utilities;
