@tailwind base;

*,
*::before,
*::after {
  min-width: 0;
  min-height: 0;
  background-position: center center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  object-position: center center;
}

*:focus,
*:-moz-focusring {
  outline: 0;
}

html,
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  min-height: -webkit-fill-available;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.public_name {
  margin-left: 2.5rem;
  margin-top: 10rem;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #393939;
}

.box {
  box-sizing: border-box;
  position: absolute;
  width: 247px;
  height: 247px;
  margin-left: 2.5rem;
  margin-top: 1rem;
  background: #FFFFFF;
  border: 2px solid #E2E2E2;
}

.circle {
  top: 38px;
    left: 86px;
  height: 38px;
  width: 75px;
  position: absolute;
}

.text {
  width: 165px;
  position: absolute;
  height: 19px;
  left: 41px;
  top: 133px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #422A21;
}

.text_2 {
  position: absolute;
width: 202px;
height: 28px;
left: 24px;
top: 163px;

font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #818181;
}

.star {
  position: absolute;
  top: 19px;
  left: 205px;
}

.bar {
  position: absolute;
  width: 202px;
  height: 5px;
  top: 208px;
  left: 22px;
  background: #D9D9D9;
  border-radius: 2.5px;
}

.bar::after {
  content: "";
  display: block;
  width: 70%;
  height: 100%;
  background: #ED6734;
  border-radius: 2.5px;
}

.text_3 {
  position: absolute;
  left: 23px;
  top: 217px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 7px;
  color: #7D7D7D;
}

.back-arrow {
  position: absolute;
  top: 50px;
  left: 550px;
  cursor: pointer;
}

.cat_box {
  box-sizing: border-box;
  width: 380px;
  height: 50px;
  margin-left: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.categories-container {
  display: flex;

}

.categories {
  width: 550px;
}

  @tailwind components;
  @tailwind utilities;
